<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'customer/css/style.css' %}">
</head>

<body>
    <div >
        <a href="{% url 'customer:index' %}" class="btn btn-primary">Home</a>
        <a href="{% url 'neograph:search_mitre' %}" class="btn btn-primary">Search Mitre</a>
        <a href="{% url 'customer:logout' %}" class="btn btn-danger ">Logout</a> 
        {% if user.is_staff %}  
            <a href="{% url 'admin:index' %}" target="_blank" class="btn btn-secondary">Admin</a>
        {% endif %}
    </div>
    <div class="content">
        {% block content %}
        <!-- Content of child templates will appear here -->
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
