circle {
    /*
    fill: red;
    */
    stroke: white;
    stroke-width: 2px;
}

line {
    stroke: black;
    stroke-width: 1px;
}

text {
    fill: black; /* Set the text color to black */               
}

.icon-container {
    display: flex;
    align-items: center;
}

.icon-container img {
    width: 20px; /* Set the desired width */
    height: 20px; /* Set the desired height */
    margin-right: 5px; /* Adjust the margin as needed */
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: #333; 
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    
}
